.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
  }
  
  textarea {
    width: 100%;
    height: 120px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    resize: vertical;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #details {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
  }
  
  #details h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .ad_form {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1000;
  }
  .ad_form button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
  }
  
  .ad_form button#ne {
    background-color: #f44336;
  }
  
  .ad_form button:hover {
    opacity: 0.8;
  }