.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
.form {
    width: 20%;
    height: 40%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
label {
    margin-top: 10%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="password"] {
    margin-top: 3%;
	width: 100%;
    padding: 10px;
    padding-left:10%;
    padding-right: 10%;
	margin-bottom: 10px;
	border-radius: 3px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

