#calendar {
    margin-top: 1%;
    height: 80%;
    width: 45%;
  }
  .fc-daygrid-event, .fc-daygrid-dot-event, .fc-daygrid-day-number {
    font-size: 16px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .legenda{
    position: absolute;
    top:200px;
    right:30px;
  }