.container {
    display: flex;
  }
  
  #calendar {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 20px;
    width: 55%;
  }
  
  .data-container {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 30%;
  }
  
  .data-container p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .data-container p:last-of-type {
    margin-bottom: 0;
    font-weight: normal;
  }
  