.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  
  #calendar {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 20px;
  }
  
  .calendar-container {
    flex: 2;
  }
  
  .data-container {
    margin-right: 2%;
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
  }
  
  .data-container p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .data-container p:last-of-type {
    margin-bottom: 0;
    font-weight: normal;
  }
  .test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
  }
  